.Login-form{
  padding: 20px;
  border: 0.5px solid rgb(137, 135, 135);
  box-shadow: 2px 2px 5px rgb(144, 144, 144);
  border-radius:  5px; ;
  width: 100%;
  overflow: auto;
  line-height: 2;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login-form input{
  width: 100%;
  box-sizing: border-box;
  height: 3vh;
}
.Login-form .socialButtons{
  text-align: center;
}
.Login-form .socialButtons img{
  width: 3vw;
  height: 5vh;
}
.Login-form .socialButtons button{
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0px 20px 20px 20px;
}